---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';


---
<Layout>

		
		<!--===== PAGE PROGRESS START=======-->
  		<Navbar></Navbar>
		<!--===== MOBILE HEADER STARTS =======-->

		<main class="pt-30 min-h-screen flex flex-col items-center  justify-center" >
			<div class="absolute -z-10 w-full h-full top-0 left-0 bg-[#FCC310]"></div>
	 
			<div class=" mx-auto text-white text-center lg:pt-48">
	
				<div class="relative inline-block mb-2">
					<div class=" md:w-fit w-4/5">
					
						<div class="absolute bottom-[calc(100%+1em)] left-0 md:flex hidden  animate-float-in delay-[100ms]">
							<img src="/img/e3.svg" class="w-20">
						</div>
						
						
						<div class="absolute bottom-[calc(100%)] left-1/2 md:flex hidden  animate-float-in delay-[300ms]">
							<img src="/img/e4.svg">
						</div>
	
						<div class="absolute bottom-[calc(100%-3em)]  -right-20 md:flex hidden  animate-float-in delay-[300ms]">
							<img src="/img/e5.svg">
						</div>
	
						<div class="absolute top-[calc(100%-2em)] left-1/6 -z-10 md:flex hidden  animate-float-in delay-[300ms]">
							<img src="/img/e6.svg">
						</div>
						<div class="absolute top-[calc(100%-0em)] right-4 -z-10 md:flex hidden  animate-float-in delay-[300ms]">
							<img src="/img/e7.svg">
						</div>
						
						
					<div id="logokifksum" class="absolute rounded-full w-56 h-56 bg-white shadow-md right-0 bottom-[calc(100%-2rem)] z-10 animate-fall-in">
						<img src="/img/logokif.svg" class="p-12" />
					</div>
					
					<div id="banner" class="inline-block">
						<div class="bg-[#E8422E] border-2 border-sky-500 px-6 py-2 inline-block">
						<div class="justify-start text-white text-5xl font-normal font-['Impact']">
							India’s Largest Celebration of Innovation
						</div>
						</div>
					
						<div class="w-2 h-2 left-[-3.5px] top-[-3.5px] absolute bg-white border-[0.77px] border-sky-500"></div>
						<div class="w-2 h-2 left-[-3.5px] bottom-[-3.5px] absolute bg-white border-[0.77px] border-sky-500"></div>
						<div class="w-2 h-2 right-[-3.5px] top-[-3.5px] absolute bg-white border-[0.77px] border-sky-500"></div>
						<div class="w-2 h-2 right-[-3.5px] bottom-[-3.5px] absolute bg-white border-[0.77px] border-sky-500"></div>
					</div>
  
	  
	  
					</div>
				</div>
	
	
				<Countdown date="2025-06-25T09:00" client:load ></Countdown>
	
				<div class="text-[#1A496A] flex md:flex-row flex-col items-center justify-center gap-5 mt-5">
					<div class="flex items-center justify-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
							<path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
						</svg>
						<div>
							26, 27 June 2025
						</div>					
					</div>
					<div class="flex items-center justify-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
							<path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
						</svg>					
						<div>
							Kerala Technology Innovation Zone, Kochi
						</div>					
					</div>
				</div>
	
			</div>
			<div  class="absolute bottom-0 md:left-20 left-4">
				<img src="/img/graph.svg" class="md:w-4/5 w-20">
			</div>
	
			<div  class="absolute bottom-0 right-0">
				<img src="/img/e2.svg" class="lg:w-4/5 w-20 animate-float" >
			</div>
			
		</main>



		<!-- <div class="about4-section-area sp1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-images">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/about/about-img11.png" alt="" />
									</div>
									<div class="space30"></div>
									<div class="content-box">
										<p>Upcoming Event 2025</p>
										<div class="space12"></div>
										<h6>Digital Technology's</h6>
										<div class="space6"></div>
										<ul>
											<li>
												<a href="#"><img src="assets/img/icons/clock1.svg" alt="" />10.00 AM -12.00 PM</a>
											</li>
											<li>
												<a href="#"><img src="assets/img/icons/location1.svg" alt="" />26/C Asana, New York</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="space44"></div>
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/about/about-img12.png" alt="" />
									</div>
									<div class="space30"></div>
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/about/about-img13.png" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about4-heading heading6">
							<h5 data-aos="" data-aos-duration="800">about our business conferences</h5>
							<div class="space18"></div>
							<h2 class="text-anime-style-3">Innovating for Tomorrow Insights for Business</h2>
							<div class="space16"></div>
							<p data-aos="" data-aos-duration="900">Perfectly captures the essence of what this blog aims to deliver. In a rapidly evolving business landscape, leaders must stay.</p>
							<div class="space10"></div>
							<ul data-aos="" data-aos-duration="1000">
								<li class="flex"><img src="assets/img/icons/check1.svg" alt="" />Director of the Developing Communities</li>
								<li class="flex"><img src="assets/img/icons/check1.svg" alt="" />Deputy Attorney General Media Project</li>
								<li class="flex"><img src="assets/img/icons/check1.svg" alt="" />Law School and Civil Rights Attorney</li>
								<li class="flex"><img src="assets/img/icons/check1.svg" alt="" /> Majored in Political Science</li>
							</ul>
							<div class="space32"></div>
							<div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
								<a href="event-schedule.html" class="vl-btn4">Reserve My Seat</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->


	

		<div class="about4-section-area sp1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-images">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/about/about-img11.png" alt="" />
									</div>
									<div class="space30"></div>
									<div class="content-box">
										<!-- <p>Upcoming Event 2025</p> -->
										<div class="space12"></div>
										<h6>Kerala Innovation Festival</h6>
										<div class="space6"></div>
										<ul>
											<li class="flex flex-row items-center my-auto">
												<a href="#" class="flex flex-row items-center"><img src="assets/img/icons/clock1.svg" alt="" />09.00 AM - 05.00 PM</a>
											</li>
											<li  class="flex flex-row items-center my-auto">
												<a href="#" class="flex flex-row items-center"><img src="assets/img/icons/location1.svg" alt="" />26 - 28  KTIZ, Kochi</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="space44"></div>
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/about/about-img12.png" alt="" />
									</div>
									<div class="space30"></div>
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/about/about-img13.png" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about4-heading heading6">
							<h5 data-aos="fade-left" data-aos-duration="800">about</h5>
							<div class="space18"></div>
							<h2 class="text-anime-style-3">Innovating for Tomorrow</h2>
							<div class="space16"></div>
							<p  class=" text-justify">
								Kerala Innovation Festival is where ideas come to life, innovations take center stage, and collaborations shape the future.
							</p>
							<p  class=" text-justify py-4">
								This year, we celebrate 10 years of Kerala Startup Mission (KSUM) , a decade of empowering 6,300+ startups, raising over ₹6,500 crore in funding and making Kerala a global innovation hub. 
							</p>
							<p  class=" text-justify">
								KIF 2025 is more than just a festival. It’s a movement bringing together startups, creators, investors, policymakers, students and changemakers to drive impact through sustainability, technology and creativity
							</p>							<div class="space10"></div>
							
							<div class="space32"></div>
							<div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
								<a href="event-schedule.html" class="vl-btn4">Reserve My Seat</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="vanue-section-area sp2">
			<div class="container">
			  <div class="row">
				<div class="col-lg-5 m-auto">
				  <div class="vanue-header heading10 text-center space-margin60">
					<h2 class="text-anime-style-3">5 Pillars of KIF 2025
					</h2>
				  </div>
				</div>
			  </div>
			  <div class=" grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-2 ">
				<div class="" data-aos="zoom-in" data-aos-duration="900">
				  <div class="vanue-single-item-area">
					<div class="img1 image-anime">
					  <img src="assets/img/allimages/others/vanue-img1.png" alt="">
					</div>
					<div class="content-area">
						<a href="">Sustainability</a>
					  	<h2 class="text-base">Smart city solutions, SDG-focused innovations, and green tech</h2>
					</div>
				  </div>
				</div>
		  
				<div class="" data-aos="zoom-in" data-aos-duration="1000">
				  <div class="vanue-single-item-area">
					<div class="vanue-single-item-area">
						<div class="img1 image-anime">
						  <img src="assets/img/allimages/others/vanue-img1.png" alt="">
						</div>
						<div class="content-area">
							<a href="">Creative Economy</a>
							  <h2 class="text-base">
								Art-tech exhibitions, creator showcases, and design innovation
							</h2>
						</div>
					</div>
				  </div>
				</div>
		  
				<div class="" data-aos="zoom-in" data-aos-duration="1100">
				  <div class="vanue-single-item-area">
					<div class="vanue-single-item-area">
						<div class="img1 image-anime">
						  <img src="assets/img/allimages/others/vanue-img1.png" alt="">
						</div>
						<div class="content-area">
							<a href="">Youth Entrepreneurship</a>
							  <h2 class="text-base">
								Maker fairs, hands-on workshops, and startup accelerators
							</h2>
						</div>
					  </div>
				  </div>
				</div>
		  
				<div class="" data-aos="zoom-in" data-aos-duration="1200">
				  <div class="vanue-single-item-area">
					<div class="vanue-single-item-area">
						<div class="img1 image-anime">
						  <img src="assets/img/allimages/others/vanue-img1.png" alt="">
						</div>
						<div class="content-area">
							<a href="">Maker Culture</a>
							  <h2 class="text-base">
								Prototyping challenges, hands-on demos and innovation labs
							</h2>
						</div>
					  </div>
				  </div>
				</div>

				<div class="" data-aos="zoom-in" data-aos-duration="1200">
					<div class="vanue-single-item-area">
						<div class="vanue-single-item-area">
							<div class="img1 image-anime">
							  <img src="assets/img/allimages/others/vanue-img1.png" alt="">
							</div>
							<div class="content-area">
								<a href="">Global Collaboration</a>
								  <h2 class="text-base">
									Cross-border partnerships and international startup delegations
								</h2>
							</div>
						</div>
					</div>
				</div>


			  </div>
			</div>
		  </div>

		

		  <div class="choose-section-area sp2">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 m-auto">
						<div class="heading2 text-center space-margin60">
							<h5>why choose us</h5>
							<div class="space18"></div>
							<h2>Why Attend Event?</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div class="icons">
								<img src="assets/img/icons/choose-icons1.svg" alt="" />
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a href="event-single.html">Make Ideas Happen</a>
								<div class="space16"></div>
								<p>Eventify 2024 brings together the brightest minds and industry leaders for best of transformative business.</p>
								<div class="space24"></div>
								<a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div class="icons">
								<img src="assets/img/icons/choose-icons1.svg" alt="" />
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a href="event-single.html">Great Speakers</a>
								<div class="space16"></div>
								<p>Whether you're looking to elevate your business strategy, discover the latest industry trends, or connect.</p>
								<div class="space24"></div>
								<a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div class="icons">
								<img src="assets/img/icons/choose-icons1.svg" alt="" />
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a href="event-single.html">One Day Ticket</a>
								<div class="space16"></div>
								<p>We empower businesses to thrive in an ever-evolving marketplace. This conference more than just an event.</p>
								<div class="space24"></div>
								<a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div class="icons">
								<img src="assets/img/icons/choose-icons1.svg" alt="" />
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a href="event-single.html">Develop Your Skills</a>
								<div class="space16"></div>
								<p>Eventify is your gateway to future of business. By bringing together best experts from various sectors.</p>
								<div class="space24"></div>
								<a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div class="icons">
								<img src="assets/img/icons/choose-icons1.svg" alt="" />
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a href="event-single.html">Entry Verification</a>
								<div class="space16"></div>
								<p>You'll walk away with a deeper best understanding of emerging trends and actionable strategies that can.</p>
								<div class="space24"></div>
								<a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div class="icons">
								<img src="assets/img/icons/choose-icons1.svg" alt="" />
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a href="event-single.html">Workshops Offer</a>
								<div class="space16"></div>
								<p>Designed for forward-thinking and professionals, this event delivers the tools, connections, and insights you.</p>
								<div class="space24"></div>
								<a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		  <div class="event6-section-area sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 m-auto">
						<div class="event-heading heading9 text-center space-margin60">
							<div class="space20"></div>
							<h2 class="text-anime-style-3">What’s Happening at KIF 2025</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						
						<div class="event6-widget-boxarea" data-aos="fade-left" data-aos-duration="1000">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img12.png" alt="" />
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">“Talks & Masterclasses with global experts”</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a href="pricing-plan.html" class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
						<div class="space50"></div>

						
						
						<div class="event6-widget-boxarea2" data-aos="fade-right" data-aos-duration="1100">
							<div class="row align-items-center">
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">“Startup Expo featuring groundbreaking innovations”</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a href="pricing-plan.html" class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img13.png" alt="" />
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain  bg-[#1A496A]" data-aos="fade-left" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">“Sustainability Pavilion showcasing smart city and green solutions”</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a href="pricing-plan.html" class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>




						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#FCC310]" data-aos="fade-right" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">“Creators Summit blending art, design, and technology”</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a href="pricing-plan.html" class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								
							</div>
						</div>

						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#2EBCE0]" data-aos="fade-left" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">“Hackathons & Challenges solving real-world problems”</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a href="pricing-plan.html" class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>

						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#4C9F37]" data-aos="fade-right" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">“Music & Food Fest celebrating Kerala’s culture and flavors”</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a href="pricing-plan.html" class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								
							</div>
						</div>

						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#E8422E]" data-aos="fade-left" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">“Cyclothon & Drone Show showcasing innovation in motion”</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a href="pricing-plan.html" class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>


		<div class="memory2-section-area bg-[#1A496A] sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="memory-heaer2 heading4 space-margin60">
							<div class="heading4">
								<h5>What's in store for you</h5>
								<div class="space18"></div>
								<h2 class="text-anime-style-3">Programs</h2>
							</div>
							
						</div>
					</div>
					<div class="col-lg-12">
						<div class="memory-widget-slider owl-carousel">
							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="assets/img/allimages/memory/memory-img1.png" alt="" />
								</div>
								<div class="content-area">
									<div class="text">
										<a href="memories.html">Workshops & Masterclasses
										</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="assets/img/allimages/memory/memory-img2.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a href="memories.html">Event Conferences</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="assets/img/allimages/memory/memory-img3.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a href="memories.html">Event Conferences</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="about7-section-area sp1">
			<div class="container">
			  <div class="row align-items-center">
				<div class="col-lg-6">
				  <div class="about-header-area heading10">
					<h2 class="text-anime-style-3">Why Kochi</h2>
					<div class="space16"></div>
					<!-- <p data-aos="fade-left" data-aos-duration="900">Our mission at Economy Event to drive meaningful dialogue, foster collaboration, spark innovative solutions for sustainable economic.</p> -->
					<div class="space32"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1000">
					  <div class="icons w-6 h-6">
					  </div>
					  	<div class="text">
							<a>Innovation Hub home to Kerala Technology Innovation Zone (KTIZ)
							</a>
						</div>
					</div>
					<div class="space20"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1100">
					  <div class="icons w-6 h-6">
					  </div>
					  <div class="text">
						<a>Strategic Location a gateway to South India with excellent connectivity
						</a>
					  </div>
					</div>

					<div class="space20"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1100">
					  <div class="icons w-6 h-6">
					  </div>
					  <div class="text">
						<a>Sustainability Focused leading smart city and green initiatives

						</a>
					  </div>
					</div>

					<div class="space20"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1100">
					  <div class="icons w-6 h-6">
					  </div>
					  <div class="text">
						<a>Creative & Cultural Capital where technology meets tradition</a>
					  </div>
					</div>

					<div class="space32"></div>
					<div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
					  <a href="contact.html" class="vl-btn7">Become an Attendee <span><i class="fa-solid fa-arrow-right"></i></span></a>
					</div>
				  </div>
				</div>
				<div class="col-lg-6">
				  <div class="about-allimages">
					<div class="img1 image-anime reveal">
					  <img src="assets/img/allimages/about/about-img17.png" alt="">
					</div>
					<div class="img2 image-anime reveal">
					  <img src="assets/img/allimages/about/about-img18.png" alt="">
					</div>
					 
					<!-- <img src="assets/img/elements/elements37.png" alt="" class="elements37"> -->
				  </div>
				</div>
			  </div>
			</div>
		  </div>

	

		<!--===== HERO AREA STARTS =======-->
	

		
	</Layout>

<script is:inline>
	window.addEventListener('DOMContentLoaded', () => {
		const logo = document.getElementById('logokifksum');
		const banner = document.getElementById('banner');

		logo.addEventListener('animationend', () => {
		banner.classList.remove('opacity-0');
		banner.classList.add('animate-rotate-in');
		});
	});
</script>


<style is:global>
	@keyframes float {
	  0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-10px);
	  }
	}
  
	@keyframes float-in {
	  from { transform: translateY(50px); opacity: 1; }
	  to { transform: translateY(0); opacity: 1; }
	}
  
	@keyframes fall-in {
	  0% { transform: translateY(-200px); opacity: 1; }
	  60% { transform: translateY(20px); opacity: 1; }
	  100% { transform: translateY(0); }
	}
  
	@keyframes rotate-in {
	  from { transform: rotate(0deg); opacity: 1; }
	  to { transform: rotate(3.5deg); opacity: 1; }
	}
  
	.animate-float {
	  animation: float 3s ease-in-out infinite;
	}
  
	.animate-float-in {
	  animation: float-in 1s ease-out forwards;
	}
  
	.animate-fall-in {
	  animation: fall-in 1.2s ease-out forwards;
	}
  
	.animate-rotate-in {
	  animation: rotate-in 0.6s ease-out forwards;
	}
</style>
  
	  